@inherits RegistryActionsBase

<div class="as-flex">
    @{
        <div>
            <RadzenButton class="action-button" Title="@(ProductAggregate.IsAdded ? "Remove" : "Add")"
                          Click="(args) => { AddOrRemove(ProductAggregate); }"
                          Icon="@(ProductAggregate.IsAdded ? "remove_circle" : "add_circle")">
            </RadzenButton>
        </div>
        if (ProductAggregate.IsAdded)
        {
            <div>
                <RadzenButton class="action-button" Disabled="@(ProductAggregate?.Quantity==0)"
                              Title="Update"
                              Click="(args) => { Update(ProductAggregate); }"
                              Icon="save">
                </RadzenButton>
            </div>
        }
    }
</div>